::-webkit-scrollbar{
    display: none;
}
body{
    background-color: rgb(224, 224, 224);
}
.pro{
    overflow-x: scroll !important
}

.MuiList-root{
    width: 15rem;
  
}

.MuiInputBase-root:focus{
    outline: 2px solid #FF9900 !important
}

.MuiBadge-badge{
    background-color: #FF9900;
    color: azure
}
@tailwind base;
@tailwind components;
@tailwind utilities;